@import "../../App.scss";

/* SHARED STYLES */
.slideButton {
  @extend .flex;
  margin: 52px auto;
  align-items: center;
  border: 2px solid #000;
  background: #FFFFFF;
  border-radius: 25px;
  p {
    @extend .drukWideRegular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #1C1C1C;
    margin: 0;
    width: 100%;
  }
}

.front {
  z-index: 5;
}

.calendarWrapper {
  background-color: black;
  position: relative;
  z-index: 10000000;
}

/* CALENDAR STYLES */

.calendarContainer {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

/* INDEX CALENDAR STYLES */

.indexCalendar {
  .indexCalendarContent {
    margin: 30px;
    background: #FFFFFF;
    border: 6px solid #FFFFFF;
    @extend .flex;
    flex-direction: column;
    .indexHeader {
      padding: 5px 15px;
      @extend .flex;
      align-items: center;
      img {
        margin-top: 0px;
        margin-left: 10px;
        height: 25px;
      }
      p {
        @extend .drukWideRegular;
        color: #000;
        font-size: 30px;
        line-height: 52px;
        text-align: right;
        letter-spacing: 0.03em;
      }
    }
    .indexBody {
      p {
        color: #000;
        font-family: 'Graphik Regular';
        font-size: 32px;
        line-height: 42px;
        width: 70%;
        margin: 0 auto;
        a {
          font-family: 'Graphik Medium';
          color: #E95656;
        }
        span {
          text-decoration: line-through;
          text-decoration-color: #E95656;
          margin-right: 5px;
        }
      }
      button {
        @extend .slideButton;
        width: 272px;
        height: 50px;
        padding: 0 15px;
        img {
          transform: rotate(180deg);
          margin-left: 5px;
        }
      }
    }
  }
}

.calendar {
  cursor: grab;
  box-sizing: border-box;
  display: flex;
  height: 95vh;
}

.dragging {
  cursor: grabbing !important;
}

.calendarContent, .indexCalendarContent {
  margin: 10px !important;
}

.calendarContent {
  border: 6px solid #FFF;
  z-index: 99999999;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  @extend .flex;
  flex-direction: column;
  .header {
    @extend .flex, .front;
    img {
      margin-top: 20px;
      margin-left: 25px;
      height: 25px;
    }
    div {
      @extend .drukWideRegular;
      border: 6px solid #FFFFFF;
      box-sizing: border-box;
      padding: 10px 20px;
      position: relative;
      top: -5px;
      left: 5px;
      text-align: center;
      p {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
      h2 {
        margin-top: -10px;
        font-size: 60px;
        line-height: 78px;
      }
    }
  }
  .body {
    @extend .front;
    p {
      font-family: 'Graphik Regular';
      font-size: 32px;
      line-height: 42px;
      width: 70%;
      margin: 0 auto;
      a {
        cursor: pointer;
        text-decoration: underline;
        font-family: 'Graphik Medium';
        color: #E95656;
      }
    }
  }
  .footer {
    @extend .front;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 0;
    p {
      font-family: 'Graphik Regular';
      font-size: 20px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.65);
    }
    h3 {
      @extend .drukWideRegular;
      font-size: 48px;
      line-height: 63px;
      margin: 10px 0;
    }
    button {
      @extend .flex, .drukWideRegular;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px 15px;
      align-items: center;
      background: #E95656;
      border-radius: 25px;
      color: #FFF;
      img {
        margin-right: 10px;
      }
    }
  }
}

// .activeSlide {
//   width: 90% !important;
// }

.prevSlide {
  margin-left: 2.3%;
}

// .nextSlide {
//   // width: 100% !important;
// }

.swiperContainer {
  z-index: 1000;
  display: flex;
  color: #FFF;
}

/* END SLIDE STYLES */

.endSlide {
  cursor: grab;
  position: relative;
  height: auto;
  .contentContainer {
    @extend .absoluteCenter;
    p {
      font-family: 'Graphik Regular';
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }
    button {
      @extend .slideButton;
      padding: 15px 20px;
      img {
        margin-right: 15px;
      }
    }
  }
}

/* SHARE FOOTER STYLES */

.shareFooter {
  z-index: 1;
  padding: 25px 0;
  p {
    margin: 0 auto;
    width: 550px;
    font-family: 'Graphik Regular';
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFF
  }
  a {
    text-decoration: none;
    button {
      @extend .flex, .drukWideRegular;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px 15px;
      align-items: center;
      background: #E95656;
      border-radius: 25px;
      color: #FFF;
      img {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 1900px) {
  .calendarContent, .indexCalendarContent {
    .header {
      div {
        p {
          font-size: 20px;
          line-height: 28px;
        }
        h2 {
          margin-top: -10px;
          font-size: 35px;
          line-height: 45px;
        }
      }
    }
    .body, .indexBody {
      p {
        width: 75%;
        font-size: 26px;
        line-height: 30px;
      }
    }
    .footer, .indexFooter {
      p {
        font-size: 16px;
        line-height: 18px;
      }
      h3 {
        font-size: 40px;
        line-height: 53px;
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 700px) {
  /* SHARED */
  .slideButton {
    width: auto;
    img {
      align-self: center;
      height: 10px;
    }
    p {
      font-size: 12px !important;
      line-height: 16px !important;
    }
  }
  
  .calendar {
    padding: 15px 0;
  }

  /* SHARED CALENDAR CONTENT */
  .indexCalendarContent, .calendarContent {
    margin: 5px !important;
  }

  .calendar {
    height: 85vh;
  }

  /* INDEX SLIDE STYLES */
  .indexCalendarContent {
    .indexHeader {
      img {
        opacity: 0;
      }
      p {
        font-size: 20px !important;
      }
    }
    .indexBody {
      p {
        width: 90% !important;
        font-size: 16px !important;
        line-height: 22px !important;
      }
    }
  }

  /* MAIN SLIDE STYLES */
  .calendarContent {
    border: 1px solid #FFF;
    z-index: 10;
    .header {
      img {
        opacity: 0;
      }
      div {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        padding: 5px 10px;
        position: relative;
        top: -1px;
        left: 1px;
        text-align: center;
        p {
          font-size: 14px;
          line-height: 26px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        }
        h2 {
          margin-top: -10px;
          font-size: 25px;
          line-height: 30px;
        }
      }
    }
    .body {
      p {
        width: 90%;
        font-size: 18px;
        line-height: 20px;
      }
    }
    .footer {
      p {
        font-size: 14px;
        line-height: 18px;
      }
      p:first-of-type {
        margin-top: 15px;
      }
      p:last-of-type {
        margin-bottom: 15px;
      }
      h3 {
        font-size: 32px;
        line-height: 63px;
        margin: 0;
      }
    }
  }
  /* END SLIDE STYLES */
  .endSlide {
    .contentContainer {
      width: 80%;
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  /* SHARE FOOTER STYLES */
  .shareFooter {
    p {
      margin: 20px auto;
      width: 85%;
      font-size: 11px;
      line-height: 16px;
    }
  }
}

.indexCopy {
  color: rgba(0, 0, 0, 0.65) !important;
}

@media (max-width: 425px) {
  /* SHARED CALENDAR CONTENT */
  .indexCalendarContent, .calendarContent {
    margin: 2px !important;
  }
  /* INDEX SLIDE STYLES */
  .indexCalendarContent {
    .indexHeader {
      img {
        height: 1px !important;
      }
      p {
        font-size: 18px !important;
      }
    }
    .indexFooter {
      a {
        button {
          margin-bottom: 15px !important;
        }
      }
    }
  }
  /* MAIN SLIDE STYLES */
  .calendarContent {
    .footer {
      p {
        font-size: 13px;
      }
      h3 {
        font-size: 26px;
        line-height: 50px;
      }
    }
  }
}

@media (max-width: 330px) {
  .calendarContent, .indexCalendarContent {
    .header, .indexHeader {
      img {
        height: 1px;
      }
      p {
        font-size: 16px !important;
      }
    }
    .body, .indexBody {
      p {
        font-size: 16px;
      }
    }
    .footer, .indexFooter {
      h3 {
        margin: -5px 0;
        font-size: 20px;
      }
    }
  }
}

/* MOBILE LANDSCAPE STYLES */
@media screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {
  .calendar {
    height: auto;
  }

  .calendarContent {
    .body {
      p {
        margin: 50px auto;
        width: 90% !important;
      }
    }
    .footer {
      p {
        font-size: 10px;
      }
    }
  }
    /* SHARE FOOTER STYLES */
    .shareFooter {
      p {
        margin: 20px auto;
        width: 85%;
        font-size: 9px;
        line-height: 12px;
      }
      a {
        button {
          margin-bottom: 15px;
        }
      }
    }
}