@import "../../App.scss";

.front {
  z-index: 5;
}

.calendarWrapper {
  background-color: black;
  position: relative;
  z-index: 10000000;
}

/* CALENDAR STYLES */

.calendarContainer {
  padding-top: 25px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.mobileHeader {
  height: 25px;
  margin: 10px auto 5px;
  display: none;
}

/* INDEX CALENDAR STYLES */

.indexCalendar {
  .indexCalendarContent {
    margin: 30px;
    background: #FFFFFF;
    border: 6px solid #FFFFFF;
    @extend .flex;
    flex-direction: column;
    .indexHeader {
      padding: 5px 15px;
      @extend .flex;
      align-items: center;
      img {
        height: 20px;
      }
      p {
        @extend .drukWideRegular;
        color: #000;
        font-size: 30px;
        line-height: 52px;
        text-align: right;
        letter-spacing: 0.03em;
      }
    }
    .indexBody {
      p {
        color: #000;
        font-family: 'Graphik Regular';
        font-size: 32px;
        line-height: 42px;
        width: 70%;
        margin: 0 auto;
        a {
          font-family: 'Graphik Medium';
          color: #E95656;
        }
        span {
          text-decoration: line-through;
          text-decoration-color: #E95656;
          margin-right: 5px;
        }
      }
    }
  }
}

.calendar {
  cursor: grab;
  // margin-right: 30px;
  box-sizing: border-box;
  display: flex;
  height: 95vh;
}

.dragging {
  cursor: grabbing !important;
}

.calendarContent {
  margin: 30px;
  border: 6px solid #FFF;
  z-index: 99999999;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  @extend .flex;
  flex-direction: column;
  .header {
    @extend .flex, .front;
    img {
      margin-top: 25px;
      margin-left: 25px;
      height: 20px;
    }
    div {
      @extend .drukWideRegular;
      border: 6px solid #FFFFFF;
      box-sizing: border-box;
      padding: 10px 20px;
      position: relative;
      top: -5px;
      left: 5px;
      text-align: center;
      p {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      }
      h2 {
        margin-top: -10px;
        font-size: 60px;
        line-height: 78px;
      }
    }
  }
  .body {
    @extend .front;
    p {
      font-family: 'Graphik Regular';
      font-size: 32px;
      line-height: 42px;
      width: 70%;
      margin: 0 auto;
      a {
        cursor: pointer;
        text-decoration: underline;
        font-family: 'Graphik Medium';
        color: #E95656;
      }
    }
  }
  .footer {
    @extend .front;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    p {
      font-family: 'Graphik Regular';
      font-size: 20px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.65);
    }
    p:first-of-type {
      margin-top: 25px;
    }
    p:last-of-type {
      margin-bottom: 20px;
    }
    h3 {
      @extend .drukWideRegular;
      font-size: 48px;
      line-height: 63px;
      margin: 10px 0;
    }
    button {
      @extend .flex, .drukWideRegular;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 10px 15px;
      align-items: center;
      background: #E95656;
      border-radius: 25px;
      color: #FFF;
      img {
        margin-right: 10px;
      }
    }
  }
}

// .activeSlide {
//   width: 90% !important;
// }

// .prevSlide {
//   // width: 101% !important; 
// }

// .nextSlide {
//   // width: 100% !important;
// }


.swiperContainer {
  z-index: 1000;
  display: flex;
  color: #FFF;
  // height: 91vh;
  // > div {
  //   height: 98% !important;
  // }
}

/* END SLIDE STYLES */

.endSlide {
  cursor: grab;
  position: relative;
  height: auto;
  .contentContainer {
    @extend .absoluteCenter;
    p {
      font-family: 'Graphik Regular';
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }
    button {
      @extend .flex;
      margin: 52px auto;
      padding: 15px 20px;
      background: #FFFFFF;
      border-radius: 25px;
      p {
        @extend .drukWideRegular;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #1C1C1C;
      }
      img {
        margin-right: 15px;
      }
    }
  }
}

/* SHARE FOOTER STYLES */

.shareFooter {
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  p {
    margin: 35px auto 25px;
    width: 550px;
    font-family: 'Graphik Regular';
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFF
  }
  a {
    text-decoration: none;
    button {
      @extend .flex, .drukWideRegular;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 10px 15px;
      align-items: center;
      background: #E95656;
      border-radius: 25px;
      color: #FFF;
      img {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .mobileHeader {
    display: block;
  }
  .calendar {
    height: 800px;
  }
  /* INDEX SLIDE STYLES */
  .indexCalendarContent {
    .indexHeader {
      img {
        opacity: 0;
      }
      p {
        font-size: 20px !important;
      }
    }
    .indexBody {
      p {
        font-size: 20px !important;
        line-height: 22px !important;
      }
    }
  }

  /* SHARE FOOTER STYLES */

  .shareFooter {
    p {
      margin: 35px auto 25px;
      width: 100%;
    }
  }

  /* MAIN SLIDE STYLES */
  .calendarContent {
    border: 2px solid #FFF;
    .header {
      img {
        opacity: 0;
      }
      div {
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        padding: 10px 20px;
        position: relative;
        top: -2px;
        left: 2px;
        text-align: center;
        p {
          font-size: 18px;
          line-height: 34px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        }
        h2 {
          margin-top: -10px;
          font-size: 36px;
          line-height: 45px;
        }
      }
    }
    .body {
      p {
        width: 85%;
        font-size: 20px;
        line-height: 22px;
      }
    }
    .footer {
      p {
        font-size: 16px;
        line-height: 18px;
      }
      p:first-of-type {
        margin-top: 15px;
      }
      p:last-of-type {
        margin-bottom: 15px;
      }
      h3 {
        font-size: 32px;
        line-height: 63px;
        margin: 0;
      }
    }
  }
  /* END SLIDE STYLES */
  .endSlide {
    .contentContainer {
      width: 80%;
      p {
        font-size: 20px;
        line-height: 22px;
      }
      button {
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

.indexCopy {
  color: rgba(0, 0, 0, 0.65) !important;
}

@media (max-width: 400px) {
  /* SHARED CALENDAR CONTENT */
  .indexCalendarContent, .calendarContent {
    margin: 10px !important;
  }
  /* INDEX SLIDE STYLES */
  .indexCalendarContent {
    .indexFooter {
      a {
        button {
          margin-bottom: 15px !important;
        }
      }
    }
  }
  /* MAIN CALENDAR STYLES */
  .calendar {
    height: 650px !important;
  }
  /* MAIN SLIDE STYLES */
  .calendarContent {
    .footer {
      p {
        font-size: 14px;
      }
      h3 {
        font-size: 26px;
        line-height: 50px;
      }
    }
  }
}

/* MOBILE LANDSCAPE STYLES */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .calendar {
    height: 500px;
  }
}