.pageWrapper {
  z-index: 5;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.introContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  h1, p {
    margin-bottom: 20px;
  }
  img {
    height: 80px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  a {
    padding: 10px 15px;
    background-color: #FFF;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-top: 20px !important;
  }
}

@media (max-width: 500px) {
  .introContainer {
    width: 90%;
    position: absolute;
    h1, p {
      margin-bottom: 20px;
    }
    img {
      height: 60px;
    }
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
      margin-bottom: 50px;
    }
    a {
      padding: 10px 15px;
      background-color: #FFF;
      text-decoration: none;
      color: #000;
      font-weight: bold;
      margin-top: 20px !important;
    }
  }
}