.videoWrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0,
}

video {
  z-index: 0;
  opacity: 0.4;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  z-index: 0 !important;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.9)
}

@media (max-width: 500px) {
  video {
    left: -450px;
  }
}