.pageWrapper {
  z-index: 5;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.introContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  h1 {
    margin-bottom: 60px;
  }
  img {
    height: 80px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    margin: 0;
    font-family: 'Graphik Regular';
    line-height: 28px;
  }
  p:first-of-type {
    margin-bottom: 25px;
  }
  span {
    cursor: pointer;
    width: 280px;
    height: 50px;
    border-radius: 33px;;
    background-color: #FFF;
    text-decoration: none;
    color: #000;
    font-family: 'Druk Wide Regular';
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 63px !important;
  }
}

@media (max-width: 600px) {
  .introContainer {
    width: 80%;
    p {
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .introContainer {
    h1 {
      font-size: 32px;
      text-align: center;
    }
    p {
      font-size: 18px;
      line-height: 22px;
    }
    a {
      width: 100%;
    }
  }
}

