@import "../../App.scss";

.resourcesContainer {
  background: linear-gradient(180deg, #E95656 0%, #E95656 100%);
  margin-top: 85px;
  padding: 80px 0;
  h3 {
    @extend .contentWidth;
    margin: 0 auto;
    font-weight: 500;
    font-family: 'Druk Wide Regular';
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
  .listContainer {
    @extend .contentWidth;
    background-color: #FFF;
    margin: 0 auto;
    margin-top: 35px;
    .listItem {
      border-bottom: 1px solid #E95656;
      @extend .flex;
      .icon {
        @extend .flex;
        padding: 20px 15px;
        justify-content: center;
        border-right: 1px solid #E95656;
        width: 10%;
        img {
          width: 65px;
        }
      }
      .link {
        @extend .flex;
        align-items: center;
        padding: 0 20px;
        width: 90%;
        p {
          font-family: 'Graphik Regular';
          font-style: normal;
          font-size: 18px;
          line-height: 20px;
          color: #000000;
        }
        a {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .resourcesContainer {
    h3 {
      font-size: 14px;
      line-height: 18px;
    }
    .listContainer {
      .listItem {
        .icon {
          img {
            height: 100%;
            width: 100%;
          }
        }
        .link {
          p {
            font-size: 14px;
          }
          img {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .resourcesContainer {
    .listContainer {
      .listItem {
        .icon {
          width: 15%
        }
        .link {
          p {
            font-size: 14px;
          }
          img {
            margin-left: 20px;
          }
        }
      }
    }
  }
}