body {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Graphik Regular';
  src: url('./static/fonts/Graphik/Graphik-Regular.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Wide Regular';
  src: url('./static/fonts/Druk\ Wide/DrukWide-Medium.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}